//Main page colors
$bg-color-main: #22222e;
$txt-color-main: #fff;
$btn-color-main: #2fc57c;
$txt-primary-color-main: #a3a3a8;
$footer-color: #2a2a3c;

//Other pages colors
$bg-color: #fff;
$txt-color: #000;
$btn-color: #2a915f;
$text-primary-color: #8c8c8f;
$color-success: #22c55e;
$color-error: #ef4444;
$color-border: #e5e7eb;

//Others 
$shadow-card: 0 4px 8px rgba(0, 0, 0, 0.05);
$radius-default: 12px;

//fonts
$main-font: "Poppins", sans-serif;
$item-font: "Inter", sans-serif;